<ion-view title="Home" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-help"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h5 id="home-heading1" style="color:#000000;">Welcome to Friendly Pets, Happy People! </h5>
    <a ui-sref="login" id="home-button3" class="button button-positive  button-block">Member Login</a>
    <a ui-sref="page7" id="home-button2" class="button button-positive  button-block">New User Signup</a>
  </ion-content>
</ion-view>