<ion-view title="Login" id="page6">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="login-form4" class="list" ng-submit="login(credentials)">
      <ion-list id="login-list4">
        <label class="item item-input" id="login-input8">
          <span class="input-label">Email</span>
          <input ng-model="credentials.email" type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input9">
          <span class="input-label">Password</span>
          <input ng-model="credentials.password" type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button type="submit" id="login-button5" class="button button-stable  button-block">Log In </button>
      <a ui-sref="page7" id="login-button6" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>
