<ion-view title="My Profile" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="myProfile-form9" class="list">
      <label class="item item-input" id="myProfile-textarea6">
        <span class="input-label">Username: scarletgranger</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="myProfile-textarea7">
        <span class="input-label">Name: Hermione O'Hara</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="myProfile-textarea8">
        <span class="input-label">Password: **************</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="myProfile-textarea9">
        <span class="input-label">Address: 1154 Tara St.</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="myProfile-textarea10">
        <span class="input-label">Zip Code: 30303</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="myProfile-textarea11">
        <span class="input-label">Email magic@gmail.com</span><textarea placeholder=""></textarea></label>
      <button id="myProfile-button28" class="button button-positive  button-block">Next</button>
    </form>
  </ion-content>
</ion-view>