<ion-view title="Pet Owner Signup" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="petOwnerSignup2-form6" class="list" ng-submit="signUp(data)">
      <div id="petOwnerSignup2-button-bar1" class="button-bar">
        <button id="cat-button" type="button" ng-click="cat()" class="button button-loyal  button-block">Cat</button>
        <button id="dog-button" type="button" ng-click="dog()" class="button button-loyal  button-block">Dog</button>
      </div>
      <ion-list id="petOwnerSignup2-list5">
        <label class="item item-input" id="petOwnerSignup2-input15">
          <span class="input-label">Pet Name</span>
          <input ng-model="data.petName" type="text" placeholder="">
        </label>
        <label class="item item-input" id="petOwnerSignup2-input16">
          <span class="input-label">Pet Age</span>
          <input ng-model="data.petAge" type="text" placeholder="">
        </label>
        <label class="item item-input" id="petOwnerSignup2-input17">
          <span class="input-label">Pet Breed</span>
          <input ng-model="data.petBreed" type="text" placeholder="">
        </label>
        <ion-item class="range range-positive" id="petOwnerSignup2-range1">Pet Size
          <input type="range" value="50" min="0" max="100" step="1">
        </ion-item>
        <label class="item item-input" id="petOwnerSignup2-input12">
          <span class="input-label">Availability</span>
          <input ng-model="data.availability" type="text" placeholder="">
        </label>

      </ion-list>
      <div>
        <img src="img/pydjqZ4kTxiTQi5F66Ds_CATPIC.jpg" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
      </div>
      <button type="submit" id="petOwnerSignup2-button9" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>
