<ion-view title="Pet Profile" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="petProfile-form13" class="list">
      <label class="item item-input" id="petProfile-textarea1">
        <span class="input-label">Name: {{name}}</span></label>
<!--      <label class="item item-input" id="petProfile-textarea3">
        <span class="input-label">Age: {{age}}</span></label> -->
      <label class="item item-input" id="petProfile-textarea2">
        <span class="input-label">Breed: {{breed}}</span></label>
<!--        <label class="item item-input" id="petProfile-textarea5">
          <span class="input-label">Size: {{size}}</span></label> -->
      <label class="item item-input" id="petProfile-textarea5">
        <span class="input-label">Availability: {{availability}}</span></label>
    </form>
    <div>
      <img src="{{photo}}" style="max-height:250px;margin-left:auto;margin-right:auto;display:block"/>
      <!--<img src="img/vnfFk5iDRsOinysDmHGo_CATPIC.jpg" style="display: block; width: 76%; height: auto; margin-left: auto; margin-right: auto;">-->
    </div>
    <a ng-click="requestVisit()" id="petProfile-button19" class="button button-positive  button-block">Request visit</a>
  </ion-content>
</ion-view>
