<ion-view title="Pet Profile" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="petProfile-form13" class="list">
      <label class="item item-input" id="petProfile-textarea1">
        <span class="input-label">Name: Canteloupe</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="petProfile-textarea3">
        <span class="input-label">Age: 3 years</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="petProfile-textarea2">
        <span class="input-label">Breed: Australian Mist</span><textarea placeholder=""></textarea></label>
      <ion-item class="range range-positive" id="petProfile-range2">Size
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <label class="item item-input" id="petProfile-textarea5">
        <span class="input-label">Availability: MWF 3-5 PM</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/vnfFk5iDRsOinysDmHGo_CATPIC.jpg" style="display: block; width: 76%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="reminder" id="petProfile-button19" class="button button-positive  button-block">Request visit</a>
  </ion-content>
</ion-view>