<ion-view title="Pet Seeker Signup" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="petSeekerSignup-form8" class="list" ng-submit="signUp(data)">
      <ion-list id="petSeekerSignup-list7">
        <label class="item item-input" id="petSeekerSignup-input24">
          <span class="input-label">Email Address</span>
          <input ng-model="data.email" type="text" placeholder="">
        </label>
        <label class="item item-input" id="petSeekerSignup-input25">
          <span class="input-label">Password</span>
          <input ng-model="data.password" type="password" placeholder="">
        </label>
        <label class="item item-input" id="petSeekerSignup-input23">
          <span class="input-label">Name</span>
          <input ng-model="data.name" type="text" placeholder="">
        </label>
        <label class="item item-input" id="petSeekerSignup-input26">
          <span class="input-label">Address</span>
          <input ng-model="data.address" type="text" placeholder="">
        </label>
        <label class="item item-input" id="petSeekerSignup-input28">
          <span class="input-label">Zip Code</span>
          <input ng-model="data.zipCode" type="text" placeholder="">
        </label>
      </ion-list>
      <button type="submit" id="petSeekerSignup-button11" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>
