<ion-view title="Registration Complete" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="registrationComplete-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Thank you for signing up! You will be notified when you recieve a pet request. </p>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="registrationComplete-slider3" style="width:100%;height:200px;">
      <ion-slide-page id="registrationComplete-slide214" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="registrationComplete-slide215" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="registrationComplete-slide217" style="background:url(&quot;img/pXi8B0GJSIGnxIMiUgbA_cat1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="registrationComplete-slide216" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="registrationComplete-slide218" style="background:url(&quot;img/VnSYNDkMThehN6U62qa0_cat2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <a ui-sref="petRequests" id="registrationComplete-button30" class="button button-positive  button-block">Done!</a>
  </ion-content>
</ion-view>