<ion-view title="Reminder" id="page18">
  <ion-content padding="true" class="has-header">
    <div id="reminder2-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:22px;">Remember, you will need to make sure that your pet's vaccines are up-to-date, and that your pet is well-behaved. Also, you are responsible for your pet's transportation. Remember that you are going to be visiting a senior, so make sure that your
        pet is a friendly pet.</p>
    </div>
    <a ui-sref="registrationComplete" id="reminder2-button27" class="button button-positive  button-block">OK</a>
  </ion-content>
</ion-view>
