<ion-view title="Reminder " id="page17">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="reminder-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:22px;">Remember, you are requesting more than a pet, you are also sharing the owner's valuable time. Make sure you have alerted your facility so that the pet owner has permission to bring their pet to you. </p>
    </div>
    <a ui-sref="thankYou" id="reminder-button26" class="button button-positive  button-block">OK</a>
  </ion-content>
</ion-view>