<ion-view title="Signup" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="signup-form7" class="list">
      <ion-list id="signup-list6">
        <label class="item item-input" id="signup-input20">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input21">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input22">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="signup-button10" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>